.header__img {
	background-image: url('../../assets/images/header.jpg');
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 100px;

	&:after {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.header__quote {
	color: var(--white-color);
	position: absolute;
	bottom: 20px;
	left: 20px;
}
