@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700;800&family=Raleway:wght@100&display=swap');
@import './helper-mixin.scss';
@import './media-queries.scss';

:root {
	--main-color: #212121;
	--second-color: #754d23;
	--white-color: #e7dfdf;
	--black-color: #403e3e;
	--max-width: 1200px;
}

html {
	scroll-padding-top: 150px;
	height: 100%;
}

#root {
	overflow-x: hidden;
}

body {
	background-color: var(--white-color);
	height: 100%;
}

* {
	scroll-behavior: smooth;
	border: none;
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	box-sizing: border-box;
	color: var(--black-color);

	@include md-max {
		font-size: 14px;
	}
}

a {
	color: var(--black-color);

	&:hover {
		color: var(--second-color);
	}
}

.section {
	@include content-width;
	margin-bottom: 30px;

	&.contact {
		margin-top: 30px;
		@include md-min {
			margin-top: 100px;
		}
	}

	@include md-min {
		margin-bottom: 100px;
	}
}

.section-2cols {
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;

	@include md-min {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.section-fullwidth {
	margin-bottom: 30px;

	&.contact {
		margin-bottom: 0;
	}

	@include md-min {
		margin-bottom: 100px;
	}
}

.section-text {
	@include md-min {
		width: 800px;
	}
}

.title {
	font-size: 18px;

	@include md-min {
		font-size: 30px;
		margin-bottom: 30px;
	}
}

.title-small {
	font-size: 18px;

	@include md-min {
		font-size: 25px;
	}
}

.quote__bg {
	height: 25vh;
	background-color: var(--main-color);
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	@include md-min {
		height: 30vh;
	}
}

.button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	color: var(--main-color);
	cursor: pointer;

	&:hover {
		color: var(--second-color);
	}
}

.button_icon {
	display: flex;
	margin: 0 5px;
}
