@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700;800&family=Raleway:wght@100&display=swap');
@import './helper-mixin.scss';
@import './media-queries.scss';

:root {
	--main-color: #212121;
	--second-color: #754d23;
	--white-color: #fcfcfc;
	--black-color: #000000;
	--max-width: 1200px;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-padding-top: 100px;
}

body {
	background-color: var(--white-color);
}

* {
	scroll-behavior: smooth;
	border: none;
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	box-sizing: border-box;
}

a {
	color: var(--black-color);

	&:hover {
		color: var(--second-color);
	}
}

.section {
	@include content-width;
	margin-bottom: 100px;

	&.contact {
		margin-top: 100px;
	}
}
.section-2cols {
	display: flex;
	width: 100vw;
	justify-content: space-between;
	align-items: flex-start;
}

.section-fullwidth {
	margin-bottom: 100px;

	&.contact {
		margin-bottom: 0;
	}
}

.section-text {
	width: 800px;
}

.title {
	@include md-min {
		font-size: 30px;
		margin-bottom: 30px;
	}
}

.quote__bg {
	height: 30vh;
	background-color: var(--main-color);
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	color: var(--main-color);
	cursor: pointer;

	&:hover {
		color: var(--second-color);
	}
}

.button_icon {
	display: flex;
	margin: 0 5px;
}
