.fullimg__img {
	width: 33%;
}

.fullimg {
	@include content-width;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 100px;

	@include md-min {
		flex-direction: row;
	}
}

.fullimg__img {
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

.fullimg__img-1 {
	background-image: url('../../assets//images/slider-img-1.jpg');
}
.fullimg__img-2 {
	background-image: url('../../assets//images/slider-img-2.jpg');
}
.fullimg__img-3 {
	background-image: url('../../assets//images/slider-img-3.jpg');
}
